<h2>Update yer dino info dawg</h2>

<form method="POST" action="/dinosaurs/<%= dinosaur.id %>/?_method=PUT" >
    <label for="dinosaurType">Type</label>
    <input type="text" name="dinosaurType" value="<%= dinosaur.type %>" />

    <label for="dinosaurName"> Name</label>
    <input type="text" name="dinosaurName" value="<%= dinosaur.name %>" />

    <input type="submit" value="UPDATE MY DINO">
</form>