<h3>these are all of the dinos that we can get</h3>
<a href="/dinosaurs/new"> add a dino!</a>

<ul>
    <% dinosaurs.forEach( function(dinosaur) { %>
        <li> <a href="/dinosaurs/<%= dinosaur.id %>"><%= dinosaur.name %></a> is a <%= dinosaur.type %></li>
    <% }); %>
</ul>