<h2>gimme yer dino info dawg</h2>

<form method="POST" action="/dinosaurs" >
    <label for="dinosaurType">Type</label>
    <input type="text" name="dinosaurType" />
    <label for="dinosaurName"> Name</label>
    <input type="text" name="dinosaurName">
    
    <input type="submit" value="MAKE MY DINO">
</form>